/* http://getbootstrap.com/components/#navbar-fixed-top */
/*body {
  padding-top: calc(15vh + 10px);
}*/

/* Prevent footer from getting squished at the bottom. */
footer {
  padding-top:    4%;
  padding-bottom: 4%;
}

.btn-cds:hover {
  color: #1f4480;
  border-color: #1f4480;
}

.main-navbar-logo {
  width: 2.2rem;
  height: 2.1rem;
  opacity: 0.75;
}