.explanations {
  height: 350px;
  flex: 1;
  overflow: auto;
  margin-left: 20px;
  width: 550px;
}

.intro {
  min-height: 200px;
  flex: 1;
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  background-color: white;
}

.footer {
  padding: 20px;
}

.whitetext {
  color: white;
  flex: 1;
}

.hiddentext {
  visibility: hidden;
}

.textspacing {
  padding-top: 10px;
}

.gridspacing {
  padding-bottom: 60px;
}


.vis {
  display: inline-block;
  position: fixed;
  top: 400px;
  z-index: 1;
  margin-left: 0;
}
.sections {
  position: relative;
  display: inline-block;
  width: 600px;
  top: 0px;
  z-index: 90;
}
